@font-face {
    font-family: MondaRegular;
    src: url(../font/MondaFuente/Monda-Regular.otf);
}
@font-face {
    font-family: Milimetre;
    src: url(../font/MillimetreFuente/Millimetre/Millimetre-Regular.otf);
}

@font-face {
  font-family: MondaBold;
  src: url(../font/MondaFuente/Monda-Bold.otf);
}
:root{
    --priM: #1A1A33;
    --secMC: #A490FF;
    --terV:#C3EEA6;
}

*{
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
}


.subTitle{
  font-size: 3.5rem;
  color: var(--priM);
  font-family: MondaRegular;
  text-align: center;
  margin-top: 4rem;
}

/*Header*/

ul{
    list-style-type: none;
}

.logo{
    height: 7rem;
}


nav{
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background-color: var(--priM);
}
nav .wrapper{
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .nav-links{
    display: inline-flex;
}
.nav-links li{
    list-style: none;
}


.nav-links li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-family: MondaRegular;
}
.nav-links li a:hover{
    background: #2d2d5a;
}
  .nav-links .mobile-item{
    display: none;
}
.nav-links .drop-menu{
    position: absolute;
    background: var(--secMC);
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
 
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}
.drop-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}
.drop-menu li a:hover{
    background-color: #796abb;
}
.mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}
.mega-box .content{
    background: var(--secMC);
    padding: 2rem 0 2.5rem 5rem;
    border-radius: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
    width: calc(25% - 30px);
    line-height: 4rem;
}

.content .row header{
    color: var(--priM);
    font-size: 2rem;
    font-family: MondaRegular;

}
.content .row .mega-links{
    margin-left: -40px;
    border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
    padding: 0 2px;
}
.row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    margin: 0 1rem;
    color: #d9d9d9;
    font-size: 1.5re;
    display: block;
}
.row .mega-links li a:hover{
    color: #f2f2f2;
    background-color: #796abb;
}
.wrapper .btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.wrapper .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
}
@media screen and (max-width: 970px) {
    .wrapper .btn{
      display: block;
    }
    .wrapper .nav-links{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background-color: var(--secMC);
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
    }
    /* custom scroll bar */
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #242526;
    }
    ::-webkit-scrollbar-thumb {
      background: #3A3B3C;
    }
    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }
    .nav-links li{
      margin: 15px 10px;
    }
    .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
    .nav-links .drop-menu{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box{
      max-height: 100%;
    }
    .nav-links .desktop-item{
      display: none;
    }
    .nav-links .mobile-item{
      display: block;
      color: #f2f2f2;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
      background-color: #796abb;
    }
    .drop-menu li{
      margin: 0;
    }
    .drop-menu li a{
      border-radius: 5px;
      font-size: 18px;
    }
    .mega-box{
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .mega-box .content{
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
    .mega-box .content .row{
      width: 100%;
      margin-bottom: 15px;
      border-top: 1px solid rgba(255,255,255,0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
      border-top: 0px;
    }
    .content .row .mega-links{
      border-left: 0px;
      padding-left: 15px;
    }
    .row .mega-links li{
      margin: 0;
    }
    .content .row header{
      font-size: 19px;
    }

    .row .mega-links li a{
        font-size: 1.2rem;
    }
}
nav input{
    display: none;
}


.espe{
    font-size: 1.3rem;
    color: #fff;
    font-family: MondaRegular;
}


/*Banner*/

.banner{
  width: 100%;
  max-width: 90rem;
  overflow: hidden;
  height: 45rem;
  margin: auto;
  position: relative;
  margin-top: 10rem;
  border-radius: 5px;
}

.slider{
  display: flex;
  width: 400%;
  height: 45rem;   /*Tamaño de la img*/
  margin-left: -100%;
}

.slider-section{
  width: 100%;
}


.bannertext{
    display: flex;
    margin: 0;
    position: relative;
    bottom: 54%;
    padding-left: 5rem;
    font-size: 3rem;
    font-family: MondaBold;
    letter-spacing: 1rem;
    color: var(--priM);
}

.subbannertext{
    font-size: 1.4rem;
    font-family: MondaRegular;
    position: relative;
    bottom: 50%;
    padding-left: 5rem;
    color: var(--priM);
}

.sl-img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;    /*Para que la imagen no se estire*/
}

.sl-btn{
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}



.sl-btn-r{
  right: 1rem;
}

.sl-btn-l{
  width: 4rem;
  height: 4rem;
  left: 1rem;
}
/*Testimonios de egresados*/

.test{
    min-height: 100%;
}

@media (max-width:1200px) {
  .test{
      width: 84%; 
  }
}

::selection{
    color: var(--priM);
    background: var(--terV);
}
.wrapperSli{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
}
.wrapperSli .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: var(--priM);
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}
.wrapperSli .row{
    display: flex;
}
.wrapperSli .row-1{
    justify-content: flex-start;
}
.wrapperSli .row-2{
    justify-content: flex-end;
}
.wrapperSli .row section{
    background: var(--secMC);
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
}
.wrapperSli .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: var(--priM);
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
}
.row-1 section::before{
    right: -7px;
}
.row-2 section::before{
    left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
    position: absolute;
    background: var(--secMC);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--priM);
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}
  .row-1 section .icon{
    top: 15px;
    right: -60px;
}
.row-2 section .icon{
    top: 15px;
    left: -60px;
}
.row section .details,
.row section .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row section .details .title{
    font-size: 22px;
    font-family: MondaRegular;
    font-weight: 600;
}
.row section p{
    margin: 10px 0 17px 0;
    font-family: MondaRegular;
    font-size: 1.4rem;
}
.row section .bottom a{
    text-decoration: none;
    background: var(--priM);
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: MondaRegular;
    transition: all 0.3s ease;
}
.row section .bottom a:hover{
    transform: scale(0.97);
}
@media(max-width: 790px){
    .wrapperSli .center-line{
      left: 40px;
    }
    .wrapperSli .row{
      margin: 30px 0 3px 60px;
    }
    .wrapperSli .row section{
      width: 100%;
    }
    .row-1 section::before{
      left: -7px;
    }
    .row-1 section .icon{
      left: -60px;
    }
}
@media(max-width: 440px){
    .wrapperSli .center-line,
    .row section::before,
    .row section .icon{
      display: none;
    }
    .wrapperSli .row{
      margin: 1rem 0;
    }
}

/*Seccion Nosotros*/

.nosGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (max-width:760px) {
    .nosGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.caja>h3{
    font-size: 3rem;
    font-family: MondaRegular;
    color: var(--secMC);
    text-transform: uppercase;
}

.caja>p{
    width: 30rem;
    font-size: 1.3rem;
    font-family: MondaRegular;
    color: var(--secMC);
    text-align: justify;
    margin-bottom: 6rem;
}

.caja>img{
    width: 46rem;
    height: 52rem;
    position: relative;
}










/*Footer*/
.container-form{
    margin-right: 4rem;
    width: 100%;
}

.container-form form .campo, textarea{
    width: 100%;
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
    border: 1px solid #dbdbdb;
    margin-bottom: 2rem;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 47rem;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 1.5rem;
    font-size: 1.6rem;
    font-family: MondaRegular;
    border: none;
    outline: 0px;
    background: var(--terV);
    color: #1A1A33;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #9cc083;
}

.pie-pagina{
    width: 100%;
    background-color: var(--priM);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 120rem;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid: gap 5rem;
    padding: 4.5rem 0px;
}

.box{
  padding: 2rem;
}


.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-family: MondaRegular;
}
.pie-pagina .grupo-1 .box p{
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
    font-family: MondaRegular;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: var(--terV);
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
      margin-left: 0;
  }

}

/*Opciones*/
.som{
    text-shadow: 2px 2px 4px #686565;
}